extends layout

block content
  if currentUser
    form.flex.h-8.items-center.z-10.mt-6.fixed(method="POST" action="/message")
      input(class="form-cell" id="message" name="message" type="textarea" placeholder="Write message here...")
      button.btn.ml-3.bg-blue-400.whitespace-no-wrap(type="submit") Post It!
  
  each msg in message_list
    .card.relative #{msg.message} 
      if currentUser
        if currentUser.status != "novice"
          .flex.justify-end.text-sm.font-thin
            p.mr-2 by 
            a(href=`/users/${msg.member._id}` class="home hover:underline") #{msg.member.username}
            p.ml-2 on #{msg.timestamp_formatted}
            if currentUser.status == "elder"
              form(method="POST" action=`/message/${msg._id}/delete`)
                input(type="hidden" name=msg._id required )  
                button.absolute.btn.bg-red-400(style="top:0; left: 800px;" type="submit") Delete Msg